/* HELVETICA */
@font-face {
  font-family: "Helvetica";
  src: url("assets/fonts/Helvetica/Helvetica-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("assets/fonts/Helvetica/Helvetica-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Helvetica";
  src: url("assets/fonts/Helvetica/Helvetica-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "Helvetica";
  src: url("assets/fonts/Helvetica/Helvetica-Bold.ttf") format("truetype");
  font-weight: 700;
}